@font-face {
  font-family: "SBAggroB";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "SBAggroB";
  margin: 0;
  padding: 0;
  background-color: cornflowerblue;
  cursor: default;
}

.app-container {
  width: 1600px;
  height: 100vh;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  background-color: cornflowerblue;
}

h1 {
  margin: 0;
  color: white;
  font-size: 48px;
}

.date-list {
  margin-top: 40px;
  padding: 20px;
  background-color: #f8b229;
  flex-grow: wrap;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 16px;
}

.day-list {
  margin-top: 40px;
  background-color: #f8b229;
  display: flex;
  padding: 32px 72px 32px 62px;
  justify-content: space-between;
}

.day-list li {
  background-color: white;
  width: 120px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
  transition: transform 0.3s, background-color 0.3s;
}

.day-list li:hover {
  transform: scale(1.2);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
