.date-card {
  background-color: white;
  width: 200px;
  height: 160px;
  border-radius: 8px;
  transition: transform 0.3s;
}

.date-card:hover {
  transform: scale(1.15);
}

.date-card div {
  background-color: rgb(0, 162, 255);
  padding: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  cursor: default;
}

.date-card ul {
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.date-card .is-holiday {
  background-color: rgb(255, 105, 180);
}
